body {
  font-family: Arial, sans-serif;
  padding-bottom: 10px;
}
/* .navbarmain {
  background: rgba(43, 60, 71, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
} */
header {
  background: rgba(43, 60, 71, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-nav a {
  color: #fff;
  font-weight: 700;
}
.navbar-nav ul {
  width: 60vw;
}
.navbar-nav a:hover {
  color: #ccc;
}
.modal-img {
  height: 150px;
  width: 150px;
  margin-left: -80px;
  margin-top: -60px;
}

.modal-con {
  margin-top: 100px;
}
.modal-body {
  input {
    border-radius: 10px;
    color: blue;
    width: 50%;
  }
  span {
    color: red;
  }
  label {
    margin: 20px;
  }
}
.btn1 {
  color: blue;
  background-color: #ffffff;
  font-weight: 700;
  width: 200px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 50px;
}

main {
  background-image: url("images/home.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 500px;
  margin-bottom: 10px;
}

main p {
  font-weight: 700;
  font-size: 30px;
  width: 50%;
  margin-left: 25%;
}

.main1 {
  background-image: url("images/which-lesson-is-best.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 500px;
  margin-bottom: 10px;
}

.main1 p {
  font-weight: 700;
  font-size: 30px;
  width: 100%;
  margin-left: 25%;
}
.main2 {
  background-image: url("images/summer-swim-camps.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 500px;
  margin-bottom: 10px;
}

.main2 p {
  font-weight: 700;
  font-size: 30px;
  width: 100%;
  margin-left: 5%;
}

.register-div {
  background-color: #cc7722;
  text-align: center;
  width: 50%;
  margin: auto;
}

.imgclass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.imgbanner {
  width: 50%;
}

.register-div p {
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.container {
  background-image: url("images/home-hands-on-teaching.jpeg");
  display: flex;
  background-position: center;
  margin: auto;

  background-size: cover;
}

/* Style for text */
.text {
  margin-top: 10%;
  width: 37%;
}
.btn2 {
  color: #fff;
  background-color: #0378f5;
  font-weight: 700;
  width: 200px;
  padding: 10px;
  border-radius: 50px;
  margin-left: 100px;
}

.btn {
  width: 300px;
  background-color: #fff;
}

.sidebyside {
  background-image: url("images/home-our-locations-bg.jpeg");
  display: flex;
  background-position: center;
  margin: auto;
  display: flex;
  width: 84%;
  margin-top: 10px;
  background-size: cover;
}

/* Style for text */
.text3 {
  margin-top: 10%;
  margin-left: 20px;
  color: #fff;

  width: 60%;

  text-align: center;
}
.swim {
  width: 60%;
  margin-left: 20%;
  font-size: 50px;
  font-weight: 700;
}
.family {
  font-size: 30px;
  width: 40%;
  margin-left: 30%;
}

/* Style for image */
.img3 {
  flex: 1;
  text-align: center;
  height: auto;
}

/* Make image responsive */
img {
  max-width: 100%;

  height: auto;
}

.content-main {
  margin-left: 5%;
  margin-right: 5%;
}

/*  */
* {
  list-style: none;
}
.top-img h2 {
  margin-top: -15%;
  margin-bottom: 10%;
  color: rgb(80, 67, 67);
  font-weight: 700;
}

.top-img img {
  width: 100%;
}
header .myreg {
  /* border: 1px solid red; */
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
header button {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border: 0;
  height: 3vw;
  width: 10vw;
  color: #26aef2;
  font-size: 1vw;
  border-radius: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-words {
  width: 80vw;
  margin: 0 auto;
}

.more-words h3 {
  font-size: 3vw;
  text-align: center;
  margin: 3.4vw 0;
  margin-top: 0.2vw;
}
.more-words p {
  font-size: 1.5vw;
  line-height: 3vw;
  margin-bottom: 3vw;
}
.more-words h4 {
  font-size: 1.7vw;
}
.more-words ul {
  font-size: 1.6vw;
  color: #68c5f5;
  line-height: 2.3vw;
  text-decoration: underline;
}

/*  */
/* .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu-item {
  color: #f2f2f2;
  text-decoration: none;
  padding: 15px;
  position: relative;
}
.menu-item:hover {
  background-color: #fff;
}
.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menu-item:hover .sub-menu {
  display: block;
}
.sub-menu-item {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 16px;
  margin-bottom: 10px;
  font-size: large;
  display: block;
}
.sub-menu-item1 {
  color: #0378f5;
}

.nav-location {
  display: flex;
} */

/*  */
.menu-item span {
  color: white;
  font-weight: 700;
}
.menu-item .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: #000;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item:hover .sub-menu {
  display: block;
}

.menu-item .sub-menu .sub-menu-item {
  display: block;
  padding: 10px 20px;
  font-weight: normal;
  text-transform: none;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu-item .sub-menu .sub-menu-item:last-child {
  border-bottom: none;
}

.menu-item .sub-menu .sub-menu-item:hover {
  background-color: #f2f2f2;
}

.menu-item .sub-menu .sub-menu-item1 {
  padding-left: 30px;
}

/*  */
.menu-item .sub-menu .column1,
.menu-item .sub-menu .column2,
.menu-item .sub-menu .column3 {
  display: flex;
  justify-content: space-between;
}

.menu-item .sub-menu .column1 .sub-menu-item,
.menu-item .sub-menu .column2 .sub-menu-item,
.menu-item .sub-menu .column3 .sub-menu-item {
  width: 31%;
}

.menu-item .sub-menu .sub-menu-item1 {
  padding-left: 0;
}

.menu-item .sub-menu .sub-menu-item1:nth-child(3n + 4) {
  margin-top: 15px;
}

.footerx {
  background: url(../images/footer-bg.jpeg);
  padding: 2vw 10vw;
  box-sizing: border-box;
  padding-top: 8vw;
  margin-top: 5vw;
  text-align: center;
}
.more-words {
  margin-top: 200px;
}

.footerx > img {
  margin: 0 auto;
}

.footerx .all-icon {
  margin-top: 4vw;
  margin-bottom: 3vw;
}

.footerx .all-icon ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: "黑体";
  font-size: 1.3vw;
  text-decoration: underline;
}

.footerx .title-and-number {
  border-top: 2px solid #cdc9c9;
  border-bottom: 2px solid #c5c1c1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vw 0;
}
.footerx .title-and-number div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerx .title-and-number .number {
  margin-top: 0.51vw;
  color: #6a6969;
  text-decoration: underline;
}
.footerx .four-iconsx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0;
}

.our-philosophy {
  background: url(../images/about-our-philosophy-bg.jpeg);
  background-size: 100% 100%;
  padding-bottom: 4vw;
  border: 1px solid #fff;
}

.our-philosophy h2 {
  font-size: 3vw;
  text-align: center;
  margin: 3vw 0 1vw 0;
}

.our-philosophy p {
  font-size: 1.3vw;
  line-height: 2vw;
}
.our-philosophy .p-text {
  text-align: center;
}

.pp2 {
  background: url(../images/about-we-do-a-pretty-good-job-bg.jpeg);
  background-size: 100% 160%;
}

.all-awards h2 {
  text-align: center;
  font-size: 3vw;
  margin: 3vw 0;
}

.all-awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-awards img {
  margin: 1px 20px;
}
.all-awards .lastimg {
  width: 8vw;
}

/* social media linked */
footer #nondisclaimer .copy {
  padding: 3.5em 3.5em 3.5em 13em;
  float: left;
  font-size: 0.9em;
}
footer #nondisclaimer .social {
  padding: 2.5em;
  margin-right: 9.25em;
  float: right;
}
footer #disclaimer {
  clear: both;
}
footer #disclaimer p {
  font-size: 0.85em;
  text-align: center;
}
footer #nondisclaimer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
  opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
  background: #3b5998;
  color: white;
}
footer #nondisclaimer .social .fa-twitter {
  background: #55acee;
  color: white;
}
footer #nondisclaimer .social .fa-instagram {
  background: #125688;
  color: white;
}

/* Dhruv */
.swimlessons {
  font-family: Arial, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
h3 {
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
/* Tablet */
@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 5px;
  }
}
/* Mobile phone */
@media screen and (max-width: 480px) {
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  p {
    margin-bottom: 5px;
    font-size: 16px;
  }
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container div {
  text-align: center;
  margin: 10px;
  flex: 0 0 23%;
  box-shadow: 0 0 10px rgba(204, 70, 70, 0.1);
  transition: transform 0.3s ease-in-out;
}
.image-container div:hover {
  transform: scale(1.05); /* Optional: Add a scale effect on hover */
}
.image-container img {
  width: 100%;
  height: auto;
  max-width: 50%;
  margin-bottom: 10px;
}
.contact1 {
  background-image: url("images/contact-hero.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 500px;
  margin-bottom: 10px;
}

.contact1 p {
  font-weight: 700;
  font-size: 30px;
  width: 100%;
  margin-left: 25%;
}
